@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 11, 18, 33;
  --background-rgb: 249, 248, 244;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
